<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430396288575-liq01bge44g5ts2kqev9s9jvq6573k68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430396288575-liq01bge44g5ts2kqev9s9jvq6573k68</string>
	<key>API_KEY</key>
	<string>AIzaSyCJf0TDCXEElge2xD6R1VgaWzrSM2BJ6Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>430396288575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlets.circlet</string>
	<key>PROJECT_ID</key>
	<string>circlet-9c202</string>
	<key>STORAGE_BUCKET</key>
	<string>circlet-9c202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430396288575:ios:25f9d7ad2b8078c4a1528a</string>
</dict>
</plist>